body {
    margin: 0;
    padding: 0;
    color: hsl(202, 55%, 16%);
    background-color: hsl(202, 86%, 94%);
    line-height: normal;
    font-family: 'Plus Jakarta Sans',sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    padding: 0px;
    border-radius: 20px;
    width: 72vw;

}

/* styling of form  */
.portionOfForm {
    padding-top: 1.25rem;
}

.topLine {
    display: flex;
    flex-direction: row;
    margin: 0.65rem;
    margin-bottom: 0rem;
    justify-content: space-between;
}

h1 {
    color: hsl(202, 55%, 16%);
    font-size: 1.4rem;
    margin: 0rem;
}

#clear,
#showOutput {
    background-color: white;
    border: none;
    color: hsl(200, 24%, 40%);
    text-decoration: underline;
    padding: 0;
}

#form1 {
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1.5px solid hsl(200, 24%, 40%);
    margin-top: 0.5rem;
    border-radius: 0.3rem;
}

.inputAmount {
    height: 2.2rem;
    width: 100%;
    border: none;
    box-sizing: border-box;
    display: inline;
    outline: none;
}

.otherInfo {
    background-color: hsl(202, 86%, 94%);
    color: hsl(200, 24%, 40%);
    padding: 0.2rem 0.3rem;
    padding: 0.45rem;
    font-size: large;
}

.uniLiners {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0rem 0rem 0rem;
    gap: 0.3rem;
}

.textInputs {
    height: 2.2rem;
    width: 7rem;
    border: none;
    display: inline;
    box-sizing: border-box;
    outline: none;
}

label {
    margin: 0.5rem 0.5rem 0rem 0rem;
    color: hsl(200, 24%, 40%);
}

#button1,
#button2 {
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
    border-radius: 0.3rem;
    border: 1.5px solid hsl(200, 24%, 40%);
}

.forHover:hover {
    cursor: pointer;
}

#showOutput {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.6rem;
    background-color: hsl(61, 70%, 52%);
    border-radius: 30px;
    color: hsl(202, 55%, 16%);
    width: 80%;
    transition: all 0.35s ease-in-out;
}

#showOutput img {
    margin-right: 0.3rem;
    margin-bottom: -0.2rem;
}

#showOutput:hover {
    padding: 0.75rem 0.76rem;
    width: 81%;
    transition: all 0.3s ease-in-out;
}

.resultSection {
    padding: 2vw;
}

/* styling on second child  */
.resultSection {
    background-color: hsl(202, 55%, 16%);
    border-radius: 1.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 5.6rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 105%;
}

#description {
    margin: 0.5em;
    color: hsl(200, 24%, 40%);
    text-overflow: "-";
    margin-left: 0rem;
}

.resultSection p:nth-of-type(2) {
    color: hsl(203, 41%, 72%);
    font-size: 0.85rem;

}

.resultSection img {
    width: 9.25rem;
}

/* yaa classes add karni haan js saa agar focus hoee hoo koi state */
.borderColor {
    border: 1.5px solid hsl(61, 70%, 52%);
}

.otherStyles {
    background-color: hsl(61, 70%, 52%);
    color: black;
    margin: auto;
    padding: 0.6rem;
    font-size: large;
}

.onFocusStyle input:checked {
    background-color: hsl(61, 70%, 52%);
}

/* media quries  */
@media (max-width:1000px) and (min-width:800px) {
    .container {
        width: 80vw;
    }

    .textInputs {
        width: 6.7rem;
    }

    #description {
        margin: 0;
        text-align: left;
    }

    .resultSection {
        width: 120%;
        padding: 1.5vw;
    }


}

@media (max-width:799px) and (min-width:600px) {
    .container {
        width: 90vw;
    }

    h1 {
        margin-left: 0.6rem;
    }

    .portionOfForm {
        padding-top: 0;
    }

    .topLine {
        margin-bottom: 0rem;
    }

    .otherInfo {
        padding: 0.4rem;
        font-size: 1rem;
    }

    .textInputs,
    .inputAmount {
        padding: 0;
    }

    .textInputs {
        width: 6.2rem;
    }

    .uniLiners {
        gap: 0.15rem;
    }

    #showOutput {
        width: 90%;
        margin: auto;
    }

    #showOutput:hover {
        width: 100%;
    }

    .amounts {
        width: 110%;
    }

    #monthlyAmounts {
        line-height: normal;
        font-size: 1.45rem;
    }


    .resultSection {
        padding: 10px;
        width: 130%;
        font-size: 1rem;
        text-align: left;
    }

    #description {
        text-align: left;
        text-overflow: "";
    }
}

@media (max-width:600px) and (min-width:380px) {
    .container {
        width: 100vw;
        flex-direction: column;
    }

    .topLine {
        margin-top: 12rem;
        margin-bottom: 0rem;
    }

    h1 {
        margin-left: 0.6rem;
        color: black;
    }

    #clear {
        margin-right: 1.25rem;
    }

    .textInputs {
        width: 100%;
        height: 2.45rem;
        padding: 0;
    }

    .inputAmount {
        height: 2.45rem;
        padding: 0;
        width: 100%;
    }

    .uniLiners {
        flex-direction: column;
    }

    .otherInfo {
        padding: 0.45rem;
        font-size: large;
    }

    #showOutput {
        margin: auto;
        width: 80%;
        transition: all 0.35s ease-in-out;
    }

    #showOutput:hover {
        transition: all 0.35s ease-in-out;
        width: 83%;

    }

    .resultSection {
        padding: 0;
        font-size: 0.8rem;
        width: 100%;
        border-bottom-left-radius: 3.75rem;
    }

    .amounts {
        width: 110%;
    }

    #monthlyAmounts {
        line-height: normal;
        font-size: 1.45rem;
    }
}