body {
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans;
    color: hsl(202, 55%, 16%);
    background-color: hsl(202, 86%, 94%);
    line-height: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    padding: 0px;
    border-radius: 20px;
    width: 65vw;

}

/* styling of form  */
.portionOfForm {
    padding-top: 20px;
}

.forHover:hover {
    cursor: pointer;
}

#form1,
.resultSection {
    padding: 20px;
}

h1 {
    color: hsl(202, 55%, 16%);
    font-size: 1.4rem;
    margin: 0rem;
}

#clear,
#showOutput {
    background-color: white;
    border: none;
    color: hsl(200, 24%, 40%);
    text-decoration: underline;
    padding: 0;
}

#dollarSign {
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;

}

.textInputs {
    height: 2.5rem;
    width: 8rem;
    border: none;
    display: inline;
    /* outline: none; */
}

.inputAmount {
    height: 2.5rem;
    width: 100%;
    border: none;
    display: inline;
    /* outline: none; */
}

.otherInfo {
    background-color: hsl(202, 86%, 94%);
    color: hsl(200, 24%, 40%);
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

p {
    margin: 0.5em;
    color: hsl(200, 24%, 40%);
}


#showOutput {
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 10px;
    background-color: hsl(61, 70%, 52%);
    border-radius: 30px;
    color: hsl(202, 55%, 16%);
    width: 80%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

#showOutput img {
    margin-right: 5px;
    margin-top: -7px;

}

#showOutput:hover {
    padding: 12px 13px;
    width: 81%;
    transition: all 0.3s ease-in-out;
}

label {
    margin: 0.5rem;
    margin-bottom: 0rem;
    color: hsl(200, 24%, 40%);
}

label,
p {
    margin-left: 0rem;
}

.topLine {
    display: flex;
    flex-direction: row;
    margin: 0.65rem;
    margin-bottom: 0rem;
    justify-content: space-between;
}

#form1 {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.uniLiners {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0rem 0rem 0rem;
    gap: 7px;
}

#button1,
#button2,
.input-group {
    border-radius: 5px;
    border: 1.5px solid hsl(200, 24%, 40%);
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1.5px solid hsl(200, 24%, 40%);
    margin-top: 0.5rem;
}

#button1,
#button2 {
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
}

#button1 label,
#button2 label {
    margin-left: 0.5rem;
}

/* styling on second child  */
.resultSection {
    background-color: hsl(202, 55%, 16%);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 105%;
    padding: 3px;

}

.resultSection p:nth-of-type(2) {
    color: hsl(203, 41%, 72%);
    font-size: 0.85rem;

}

.resultSection img {
    width: 150px;
}

/* media quries  */
@media (max-width:1000px) and (min-width:800px) {
    .container {
        width: 80vw;
    }

    .resultSection {
        width: 110%;
    }
}

@media (max-width:799px) and (min-width:600px) {
    .container {
        width: 90vw;
    }

    .resultSection {
        padding: 10px;
        width: 120%;
        font-size: 0.8rem;
        text-align: left;
    }

    h1 {
        margin-left: 10px;
    }

    #form1 {
        padding: 10px;
    }

    .portionOfForm {
        padding-top: 0;
    }

    .topLine {
        margin-bottom: -15px;
    }

    #showOutput {
        width: 100%;
        transition: none;
    }

    #showOutput:hover {
        width: 100%;
    }

    .amounts {
        width: 110%;
    }

    #monthlyAmounts {
        line-height: normal;
        font-size: 1.45rem;
    }
}

@media (max-width:599px) and (min-width:490px) {
    .container {
        width: 95vw;
    }

    .resultSection {
        padding: 0;
        font-size: 0.8rem;
        width: 125%;
        border-bottom-left-radius: 60px;
    }

    h1 {
        margin-left: 10px;
    }

    #form1 {
        padding: 10px;
    }

    .portionOfForm {
        padding-top: 0;
    }

    .topLine {
        margin-bottom: -15px;
    }

    #showOutput {
        width: 100%;
        transition: none;
    }

    #showOutput:hover {
        width: 100%;
    }

    .amounts {
        width: 110%;
    }

    #monthlyAmounts {
        line-height: normal;
        font-size: 1.45rem;
    }
}

@media (max-width:489px) and (min-width:375px) {
    body {
        font-size: 0.9rem;
    }

    .container {
        width: 100vw;
    }

    .form-control {
        padding: 0;
        padding-right: 12px;
    }

    .resultSection {
        padding: 0;
        font-size: 0.8rem;
        width: 80%;
        border-bottom-left-radius: 60px;
    }

    h1 {
        margin-left: 10px;
        font-size: larger;
    }

    #form1 {
        padding: 10px;
        padding-right: 0;
        padding-left: 5px;
    }

    .portionOfForm {
        padding-top: 0;
    }

    .topLine {
        margin-bottom: -15px;
    }

    #showOutput {
        font-size: 0.85rem;
        width: 100%;
        padding: 8px 5px;
        transition: none;
    }

    #showOutput:hover {
        width: 100%;
        padding: 8px 5px;

    }

    .resultSection img {
        width: 120px;
    }

    #button1,
    #button2 {
        padding: 0px;
        padding-left: 6px;
    }

    .uniLiners {
        display: flex;
        flex-direction: column;
        margin: 8px 0px;
        margin-bottom: 0;
        row-gap: -15px;
    }

    .amounts {
        width: 110%;
    }

    #monthlyAmounts {
        line-height: normal;
        font-size: 1.45rem;
    }
}

@media (max-width:374px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .resultSection {
        border-radius: 0px;
        width: 100%;
    }

    .topLine {
        margin-top: 100px;
        margin-bottom: -20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #form1 {
        padding-left: 0;
        padding: 15px;
    }

    .amounts {
        width: 110%;
    }

    #monthlyAmounts {
        line-height: normal;
        font-size: 1.45rem;
    }
}